.Logo {
	/* background-color: white; */
	background-color: #207ea2;
	padding: 8px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
	color: white;
}

.Logo img {
	height: 100%;
	margin-bottom: 32px;
}
