:root {
	--font-size: 15px;
	--line-height: 1.2;
	--lines-to-show: 3;
}

.Listing {
	width: 20rem;
	max-width: 95%;
	margin: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	background: white;
	position: relative;
}

.Listing-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Listing-description {
	/* 
		Pure CSS multiline text with ellipsis
		https://codepen.io/martinwolf/pen/qlFdp
	*/
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-width: 400px;
	height: calc(
		var(--font-size) * var(--line-height) * var(--lines-to-show)
	); /* Fallback for non-webkit */
	margin: 0 auto;
	font-size: var(--font-size);
	line-height: var(--line-height);
	-webkit-line-clamp: var(--lines-to-show);
	-webkit-box-orient: vertical; /* This part in Chrome seems to always get ignored... requires adding it to the `style` tag itself at the moment */
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__image {
	width: 100%;
}

.card__image img {
	width: 100%;
}

img {
	width: 100%;
	max-height: 240px;
	/* Fixes photos coming in vertical and making cards too long */
}

h1,
h2,
h3,
h4,
p {
	font-size: 15px;
	/* font-weight: 400; */
	margin: 0;
	color: #535362;
}
