.Listing {
	width: 20rem;
	max-width: 95%;
	margin: 1rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	background: white;
	position: relative;
}

.card__image {
	width: 100%;
}

.card__image img {
	width: 100%;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
p {
	font-size: 15px;
	/* font-weight: 400; */
	margin: 0;
	color: #535362;
}
